header {
    text-align: center; /*alinhando */

}

.area_respostas { /*divs são display block, ou seja, por padrão, pegam a linha inteira, mas quando elas estão dentro de um container flex isso não acontece. */
    display:flex:


}
.caixa {
    display: inline-block;
    width: 400px;
    height: 400px;
    text-align: center; 
    border: 2px solid black; /*caixa*/

}

.resposta {   /*as class resposta tem em comum tamanho e importância */
    font-size: 20px;
    font-weight: bold;
    
}

.correta { /* somente a class correta é verde */
    color: green;

}

.incorreta { /*somente a class incorreta é vermelha */
    color: red;

}
